{% if cluster.get_command_list() | length > 0 %}
namespace command {
    {% for command in cluster.get_command_list() %}
command_t *create_{{ command.func_name | lower }}(cluster_t *cluster);
    {% endfor %}
} /* command */

{% endif %}
